.THIS .search-wrap .slds-form-element__label{display:none;
}
.THIS .mb20{
    margin-bottom:20px;
}
.THIS .slds-form-element__control {
    
    margin-right: 20px;

}
.THIS .customToggleCss {
    width: 48px;
    /*height: 40px;*/
    /*padding-left: 2px*/
}