.THIS .redcheckbox .slds-checkbox_faux{
       border: 1px solid rgb(205, 24, 24);
    background: rgb(205, 24, 24);
}

/* 070619 - T - 00185 - css for remove the close icon */

.THIS .slds-pill__remove {
    display: none !important;
}
.THIS .slds-pill__action{
      display: none !important;
  
}
.THIS .iconCss {
    margin-top : 8px;
   background:#f2cf5b!important;
    
}
.THIS .succesToast {
    background: 'green';
}
.THIS .slds-button slds-button_icon-border {
    width: 1.5rem;
    height: 1.5rem;

}