.THIS.fileHeader .slds-text-heading_small{
        font-weight: 500!important;
}
.THIS .fileHeader .slds-text-heading_small{
        font-weight: 500!important;
}

.THIS .slds-text-heading_small {
    
    font-size: 0.75rem;
}
.THIS .slds-text-heading--small{
    line-height:0.5px;
}